<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150373876422-k4sg4jb4tme456fvgp6uppv7rknh9dd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150373876422-k4sg4jb4tme456fvgp6uppv7rknh9dd8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150373876422-3oqbkb70p0brc7p8bocc51gt78r5s6li.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiPgJ3g3b0QJJql0Etbdgp90iUBA7st48</string>
	<key>GCM_SENDER_ID</key>
	<string>150373876422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donna6355.isaac</string>
	<key>PROJECT_ID</key>
	<string>isaac-355511</string>
	<key>STORAGE_BUCKET</key>
	<string>isaac-355511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150373876422:ios:8a2d2a2b256cac8f5a8dc7</string>
</dict>
</plist>